.point1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 24px;
	color: #BD6B73;

}

body {
	background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/small_steps.png");
}
h1 {
	text-align: center;
	color: #C0C0C0;
	font-size: 55px;
	padding: 1%;
	font-family: 'Raleway', sans-serif;
}

