<<<<<<< HEAD
body{
	background-color: #A2D0E1
}
h1 {
	color: white;
	font-size: 55px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	padding: 1%
}

=======

body {
	background-color: #A2D0E1;
}

h1 {
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 55px
}
>>>>>>> ba9771c8a1099e176e82e7a3b15edd9d6b228fb4
.idk {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
}
<<<<<<< HEAD


=======
>>>>>>> ba9771c8a1099e176e82e7a3b15edd9d6b228fb4
