body {
	background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/giftly.png");
	color: white;
}

h1{
	
	font-size:60px;
	text-align:center;
	padding: 2%;
	color:#996633;
}

h2{
	font-size:40px;
	text-align: center;
	padding: 1%;
	color:#996633;
}

p{
	font-size: 26px;
	text-align: center;
	margin-right: 80px;
    margin-left: 80px;
    padding: 1%;
    color:#996633;
}

.pics{
	width: 320px;
	height: 220px;
	padding: 1%
	border: #fff;
}