body {
	/*background-color: #e6fff2;*/
	background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png");
}

.head1 > h1{
	font-family: 'Slabo', serif;
	font size: 400px;
	color:#33001a;
	text-align: center;
}
p {
	color: white;
	text-align: center;
	font-family: 'Slabo 27px', sans-serif;
	font-size: 32px;
	text-indent: 50px;
}

/*h1 {
	color: #33001a;
	font-family: 'Raleway', sans-serif;
	text-align: center;

}*/

h3{
	color: white;
	font-size: 60px;
	text-align: left;
	font-family: 'Raleway', sans-serif
	padding: 2%;
}

#adulting{
	height: 300px;
	width: 90%;
	margin-right:90px;
	padding: 1%;
}

#post{
	margin-right: auto;
	margin-left: auto;
	background: #f2f2f2;
}

/*#my-comment{
	color:black;
	font-size: 20px;
	margin-right: 100px;
	margin-left: 100px;
	text-align: center;
}*/

h3{
	font-size: 20px;
}
.comment{
	text-align: left;
	font-size: 15px;
	color: black;
	margin-right: 20;
}

.comment-name{
	/*text-align: left;*/
	font-size: 15px;
	color: black;
}

footer{
	background: black;
}

.footie{
	font-size: 25px;
	color: #C0C0C0;
}
.footie2{
	color: #C0C0C0;
	font-size: 25px;
	/*margin-left: 950px*/
}

/*.AboutUs{
	font-size: 40px;
	color: #C0C0C0;
	/*margin-left: 200px:;}*/
/*

.Contact{
	font-size: 40px;
	color: #C0C0C0;
	margin-left: 1100px;
}*/



.col-md-12 {
	border-radius: 15px;
	background: black;
	opacity: 0.7;
}


#wrap{
border: 1px solid lightgray;
background: white;
opacity: 0.67;
/*alignment-adjust: central;*/
width: 1000px;
margin-left: 50px;
margin-top: 10px;
box-shadow: 0 5px 0 #e6e6e6;
padding-bottom: 50px;

}
h1{
color: blue-violet;
text-align: center;
}

#wrap{
	height: 400px;
	/*width: 1200px;*/
	overflow-x: scroll;

#my-comments{
	padding-top: 3%;
	padding-bottom: 3%;
}
