body {
	background-color: #A2D0E1;
}

p {
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	text-indent: 50px;
}

h1 {
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}

h2{
	color: white;
	font-size: 60px;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
}

#adulting{
	background:#F2D1C9;
	/*opacity: 0.5;*/
	height: 300px;
	width: 90%;
	margin-left:90px;
	margin-right:90px;
}