body {
	background-color: #A2D0E1;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
	padding: 2%
}

.list {
	color: white;
	margin-left: 360;
	font-family: 'Raleway', sans-serif;
	font-size: 31px;
	padding-top: 2%;
}

img {
	width:50%;
	height:50px;
}

.idk {
	background-color: #2BBBAD;
	padding: 1%;
	width: 100%;
	height: 300px;
}

.idrk {
	background-color: #2BBBAD;
	padding: 1%;
	width: 100%;
	height: 305px;
}

ol {
	margin-left: 350px;
}