body {
	background-color: #A2D0E1;
	color: white;
}

h1{
	
	font-size:60px;
	text-align:center;
	padding: 2%
}

h2{
	font-size: 45;
	text-align: center;
	padding: 1%
}

h3{
	font-size: 35px;
	text-align: center;
	padding: 1%
}

p{
	font-size: 30px;
	text-indent: 50px;
	margin-right: 80px;
    margin-left: 80px;
    padding: 1%
}

.pics{
	width: 320px;
	height: 220px;
	padding: 1%
}