h1 {
	color: #F2DFD7;
	font-size: 55px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 1.5%;
	text-align: center;
}

body {
	background-color: #A2D0E1;
}

.first{
	color: white;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
	text-indent: 75px;
	margin: 0.5in;
}

.header{
	color: white;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0.5in;
}

.margins{
	color: white;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;


.fonts
	color: white;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
}

.experience{
	color: white;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
}

b {
	color: #F2DED7;
	font-size: 28px;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0.5in;
}

.pic {
	background-color: #F2DFD7;
	width: 100%;
	height: 400px;
	padding: 2%;
}

.pics {
	background-color: #F2DFD7;
	width: 100%;
	height: 400px;
	padding: 2%;
}

p {
	color: white;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0.5in;
	text-align: center;
}

.link {
	color: #F2DFD7;
}